@model List<Comic>

<h1>Comics</h1>
<br />
<p>
    <a asp-controller="Comic" asp-action="CreateConsulta" class="btn btn-info">Crear Comic Consulta</a>
</p>
<p>
    <a asp-controller="Comic" asp-action="CreateProcedure" class="btn btn-success">Crear Comic Procedure</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>Id Comic</th>
            <th>Nombre</th>
            <th>Imagen</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (Comic com in Model)
        {
            <tr>
                <td>@com.IdComic</td>
                <td>@com.Nombre</td>
                <td><img src="@com.Imagen" style="width:150px; height:150px" /></td>
                <td>
                    <a asp-controller="Comic" asp-action="Delete" asp-route-idComic="@com.IdComic" class="btn btn-danger">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>